.example-container {
    width: 500px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
  }
  
  .hrcss {
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
  }
  